albums
scripts/
general/.weechat/weechat.log
general/.weechat/sec.conf

general/emacs/snippets/c++-mode/.yas-parents
general/emacs/snippets/c++-mode/.yas-setup.el
general/emacs/snippets/c++-mode/.yas-setup.elc
general/emacs/snippets/c++-mode/acl
general/emacs/snippets/c++-mode/acm
general/emacs/snippets/c++-mode/ajf
general/emacs/snippets/c++-mode/alo
general/emacs/snippets/c++-mode/ano
general/emacs/snippets/c++-mode/assert
general/emacs/snippets/c++-mode/beginend
general/emacs/snippets/c++-mode/boost_require
general/emacs/snippets/c++-mode/cerr
general/emacs/snippets/c++-mode/cin
general/emacs/snippets/c++-mode/class
general/emacs/snippets/c++-mode/class11
general/emacs/snippets/c++-mode/cni
general/emacs/snippets/c++-mode/cnt
general/emacs/snippets/c++-mode/const_[]
general/emacs/snippets/c++-mode/constructor
general/emacs/snippets/c++-mode/cout
general/emacs/snippets/c++-mode/cpb
general/emacs/snippets/c++-mode/cpi
general/emacs/snippets/c++-mode/cpn
general/emacs/snippets/c++-mode/cpp
general/emacs/snippets/c++-mode/cpy
general/emacs/snippets/c++-mode/cstd
general/emacs/snippets/c++-mode/d+=
general/emacs/snippets/c++-mode/d_operator
general/emacs/snippets/c++-mode/d_operator[]
general/emacs/snippets/c++-mode/d_operator[]_const
general/emacs/snippets/c++-mode/d_operator_istream
general/emacs/snippets/c++-mode/d_operator_ostream
general/emacs/snippets/c++-mode/delete
general/emacs/snippets/c++-mode/delete[]
general/emacs/snippets/c++-mode/doc
general/emacs/snippets/c++-mode/dynamic_casting
general/emacs/snippets/c++-mode/enum
general/emacs/snippets/c++-mode/eql
general/emacs/snippets/c++-mode/erm
general/emacs/snippets/c++-mode/ffo
general/emacs/snippets/c++-mode/fil
general/emacs/snippets/c++-mode/fin
general/emacs/snippets/c++-mode/fixture
general/emacs/snippets/c++-mode/fln
general/emacs/snippets/c++-mode/fnd
general/emacs/snippets/c++-mode/fne
general/emacs/snippets/c++-mode/fni
general/emacs/snippets/c++-mode/fori
general/emacs/snippets/c++-mode/fre
general/emacs/snippets/c++-mode/friend
general/emacs/snippets/c++-mode/fun_declaration
general/emacs/snippets/c++-mode/gnn
general/emacs/snippets/c++-mode/gnr
general/emacs/snippets/c++-mode/gtest
general/emacs/snippets/c++-mode/ignore
general/emacs/snippets/c++-mode/ihp
general/emacs/snippets/c++-mode/ihu
general/emacs/snippets/c++-mode/inline
general/emacs/snippets/c++-mode/io
general/emacs/snippets/c++-mode/ipr
general/emacs/snippets/c++-mode/ipt
general/emacs/snippets/c++-mode/iss
general/emacs/snippets/c++-mode/isu
general/emacs/snippets/c++-mode/ita
general/emacs/snippets/c++-mode/iterator
general/emacs/snippets/c++-mode/ltr
general/emacs/snippets/c++-mode/lwr
general/emacs/snippets/c++-mode/lxc
general/emacs/snippets/c++-mode/map
general/emacs/snippets/c++-mode/member_function
general/emacs/snippets/c++-mode/mkh
general/emacs/snippets/c++-mode/mme
general/emacs/snippets/c++-mode/mne
general/emacs/snippets/c++-mode/module
general/emacs/snippets/c++-mode/mpb
general/emacs/snippets/c++-mode/mrg
general/emacs/snippets/c++-mode/msm
general/emacs/snippets/c++-mode/mxe
general/emacs/snippets/c++-mode/namespace
general/emacs/snippets/c++-mode/nno
general/emacs/snippets/c++-mode/ns
general/emacs/snippets/c++-mode/nth
general/emacs/snippets/c++-mode/nxp
general/emacs/snippets/c++-mode/oit
general/emacs/snippets/c++-mode/operator!=
general/emacs/snippets/c++-mode/operator+
general/emacs/snippets/c++-mode/operator+=
general/emacs/snippets/c++-mode/operator=
general/emacs/snippets/c++-mode/operator==
general/emacs/snippets/c++-mode/operator[]
general/emacs/snippets/c++-mode/operator_istream
general/emacs/snippets/c++-mode/operator_ostream
general/emacs/snippets/c++-mode/ostream
general/emacs/snippets/c++-mode/pack
general/emacs/snippets/c++-mode/phh
general/emacs/snippets/c++-mode/ppt
general/emacs/snippets/c++-mode/private
general/emacs/snippets/c++-mode/protected
general/emacs/snippets/c++-mode/prp
general/emacs/snippets/c++-mode/psc
general/emacs/snippets/c++-mode/pst
general/emacs/snippets/c++-mode/ptc
general/emacs/snippets/c++-mode/ptn
general/emacs/snippets/c++-mode/public
general/emacs/snippets/c++-mode/rci
general/emacs/snippets/c++-mode/rmc
general/emacs/snippets/c++-mode/rmf
general/emacs/snippets/c++-mode/rmi
general/emacs/snippets/c++-mode/rmv
general/emacs/snippets/c++-mode/rpc
general/emacs/snippets/c++-mode/rpi
general/emacs/snippets/c++-mode/rpl
general/emacs/snippets/c++-mode/rtc
general/emacs/snippets/c++-mode/rte
general/emacs/snippets/c++-mode/rvc
general/emacs/snippets/c++-mode/rvr
general/emacs/snippets/c++-mode/shf
general/emacs/snippets/c++-mode/spt
general/emacs/snippets/c++-mode/srh
general/emacs/snippets/c++-mode/srn
general/emacs/snippets/c++-mode/srt
general/emacs/snippets/c++-mode/sstream
general/emacs/snippets/c++-mode/std
general/emacs/snippets/c++-mode/std_colon
general/emacs/snippets/c++-mode/sth
general/emacs/snippets/c++-mode/sti
general/emacs/snippets/c++-mode/sto
general/emacs/snippets/c++-mode/str
general/emacs/snippets/c++-mode/sts
general/emacs/snippets/c++-mode/stv
general/emacs/snippets/c++-mode/swr
general/emacs/snippets/c++-mode/template
general/emacs/snippets/c++-mode/test case
general/emacs/snippets/c++-mode/test_main
general/emacs/snippets/c++-mode/test_suite
general/emacs/snippets/c++-mode/tfm
general/emacs/snippets/c++-mode/this
general/emacs/snippets/c++-mode/throw
general/emacs/snippets/c++-mode/trm
general/emacs/snippets/c++-mode/try
general/emacs/snippets/c++-mode/tryw
general/emacs/snippets/c++-mode/ucp
general/emacs/snippets/c++-mode/upr
general/emacs/snippets/c++-mode/uqe
general/emacs/snippets/c++-mode/using
general/emacs/snippets/c++-mode/vector
general/emacs/snippets/c-mode/.yas-parents
general/emacs/snippets/c-mode/assert
general/emacs/snippets/c-mode/compile
general/emacs/snippets/c-mode/define
general/emacs/snippets/c-mode/malloc
general/emacs/snippets/c-mode/packed
general/emacs/snippets/c-mode/printf
general/emacs/snippets/c-mode/stdio
general/emacs/snippets/c-mode/stdlib
general/emacs/snippets/c-mode/string
general/emacs/snippets/c-mode/union
general/emacs/snippets/c-mode/unistd
general/emacs/snippets/html-mode/.yas-parents
general/emacs/snippets/html-mode/dd
general/emacs/snippets/html-mode/dl
general/emacs/snippets/html-mode/doctype
general/emacs/snippets/html-mode/doctype.html5
general/emacs/snippets/html-mode/doctype.xhtml1
general/emacs/snippets/html-mode/doctype.xhtml1_1
general/emacs/snippets/html-mode/doctype.xhtml1_strict
general/emacs/snippets/html-mode/doctype.xhtml1_transitional
general/emacs/snippets/html-mode/dt
general/emacs/snippets/html-mode/form
general/emacs/snippets/html-mode/html
general/emacs/snippets/html-mode/html.xmlns
general/emacs/snippets/html-mode/link.import
general/emacs/snippets/html-mode/link.stylesheet
general/emacs/snippets/html-mode/link.stylesheet-ie
general/emacs/snippets/html-mode/mailto
general/emacs/snippets/html-mode/meta
general/emacs/snippets/html-mode/meta.http-equiv
general/emacs/snippets/html-mode/script.javascript
general/emacs/snippets/html-mode/script.javascript-src
general/emacs/snippets/html-mode/textarea
general/emacs/snippets/html-mode/th
general/emacs/snippets/lua-mode/do
general/emacs/snippets/lua-mode/eif
general/emacs/snippets/lua-mode/eife
general/emacs/snippets/lua-mode/fun
general/emacs/snippets/lua-mode/if
general/emacs/snippets/lua-mode/ife
general/emacs/snippets/lua-mode/iparis
general/emacs/snippets/lua-mode/paris
general/emacs/snippets/lua-mode/repeat
general/emacs/snippets/lua-mode/require
general/emacs/snippets/lua-mode/while
general/emacs/snippets/markdown-mode/+
general/emacs/snippets/markdown-mode/-
general/emacs/snippets/markdown-mode/_
general/emacs/snippets/markdown-mode/__
general/emacs/snippets/markdown-mode/`
general/emacs/snippets/markdown-mode/h1.1
general/emacs/snippets/markdown-mode/h1.2
general/emacs/snippets/markdown-mode/h2.1
general/emacs/snippets/markdown-mode/h2.2
general/emacs/snippets/markdown-mode/h3
general/emacs/snippets/markdown-mode/h4
general/emacs/snippets/markdown-mode/h5
general/emacs/snippets/markdown-mode/h6
general/emacs/snippets/markdown-mode/highlight
general/emacs/snippets/markdown-mode/hr.1
general/emacs/snippets/markdown-mode/hr.2
general/emacs/snippets/markdown-mode/img
general/emacs/snippets/markdown-mode/link
general/emacs/snippets/markdown-mode/ol
general/emacs/snippets/markdown-mode/rimg
general/emacs/snippets/markdown-mode/rlb
general/emacs/snippets/markdown-mode/rlink
general/emacs/snippets/markdown-mode/utf8
general/emacs/snippets/org-mode/dot
general/emacs/snippets/org-mode/elisp
general/emacs/snippets/org-mode/embedded
general/emacs/snippets/org-mode/entry
general/emacs/snippets/org-mode/figure
general/emacs/snippets/org-mode/header
general/emacs/snippets/org-mode/matrix
general/emacs/snippets/org-mode/uml
general/emacs/snippets/org-mode/verse
general/emacs/snippets/python-mode/.yas-parents
general/emacs/snippets/python-mode/.yas-setup.el
general/emacs/snippets/python-mode/.yas-setup.elc
general/emacs/snippets/python-mode/__contains__
general/emacs/snippets/python-mode/__enter__
general/emacs/snippets/python-mode/__exit__
general/emacs/snippets/python-mode/__getitem__
general/emacs/snippets/python-mode/__len__
general/emacs/snippets/python-mode/__new__
general/emacs/snippets/python-mode/__setitem__
general/emacs/snippets/python-mode/all
general/emacs/snippets/python-mode/arg
general/emacs/snippets/python-mode/arg_positional
general/emacs/snippets/python-mode/assert
general/emacs/snippets/python-mode/assertEqual
general/emacs/snippets/python-mode/assertFalse
general/emacs/snippets/python-mode/assertIn
general/emacs/snippets/python-mode/assertNotEqual
general/emacs/snippets/python-mode/assertNotIn
general/emacs/snippets/python-mode/assertRaises
general/emacs/snippets/python-mode/assertRaises.with
general/emacs/snippets/python-mode/assertTrue
general/emacs/snippets/python-mode/celery_pdb
general/emacs/snippets/python-mode/classmethod
general/emacs/snippets/python-mode/cls
general/emacs/snippets/python-mode/dec
general/emacs/snippets/python-mode/deftest
general/emacs/snippets/python-mode/django_test_class
general/emacs/snippets/python-mode/doc
general/emacs/snippets/python-mode/doctest
general/emacs/snippets/python-mode/embed
general/emacs/snippets/python-mode/eq
general/emacs/snippets/python-mode/for
general/emacs/snippets/python-mode/from
general/emacs/snippets/python-mode/function
general/emacs/snippets/python-mode/function_docstring
general/emacs/snippets/python-mode/function_docstring_numpy
general/emacs/snippets/python-mode/if
general/emacs/snippets/python-mode/ife
general/emacs/snippets/python-mode/ifmain
general/emacs/snippets/python-mode/import
general/emacs/snippets/python-mode/init
general/emacs/snippets/python-mode/init_docstring
general/emacs/snippets/python-mode/interact
general/emacs/snippets/python-mode/ipdbdebug
general/emacs/snippets/python-mode/iter
general/emacs/snippets/python-mode/lambda
general/emacs/snippets/python-mode/list
general/emacs/snippets/python-mode/logger_name
general/emacs/snippets/python-mode/logging
general/emacs/snippets/python-mode/main
general/emacs/snippets/python-mode/metaclass
general/emacs/snippets/python-mode/method
general/emacs/snippets/python-mode/method_docstring
general/emacs/snippets/python-mode/not_impl
general/emacs/snippets/python-mode/np
general/emacs/snippets/python-mode/parse_args
general/emacs/snippets/python-mode/parser
general/emacs/snippets/python-mode/pass
general/emacs/snippets/python-mode/pl
general/emacs/snippets/python-mode/print
general/emacs/snippets/python-mode/prop
general/emacs/snippets/python-mode/reg
general/emacs/snippets/python-mode/repr
general/emacs/snippets/python-mode/return
general/emacs/snippets/python-mode/scls
general/emacs/snippets/python-mode/script
general/emacs/snippets/python-mode/self
general/emacs/snippets/python-mode/self_without_dot
general/emacs/snippets/python-mode/selfassign
general/emacs/snippets/python-mode/setdef
general/emacs/snippets/python-mode/setup
general/emacs/snippets/python-mode/size
general/emacs/snippets/python-mode/static
general/emacs/snippets/python-mode/str
general/emacs/snippets/python-mode/super
general/emacs/snippets/python-mode/test_class
general/emacs/snippets/python-mode/test_file
general/emacs/snippets/python-mode/trace
general/emacs/snippets/python-mode/try
general/emacs/snippets/python-mode/tryelse
general/emacs/snippets/python-mode/unicode
general/emacs/snippets/python-mode/utf8
general/emacs/snippets/python-mode/while
general/emacs/snippets/python-mode/with
general/emacs/snippets/python-mode/with_statement

