
/*
 * Outside elements
 */

html              { height: 100%; width: 100%; margin: 0; padding: 0;
                    background: #E2DCCC; color: #555; font-family: Roboto, Courier; text-align: center; }
body              { margin: 0; }
main:before       { content: " "; position: absolute; left: 0; top: 0; width: 100%; height: 100%;
                    filter: grayscale(0); opacity: .6; z-index: 1;
                    background: url(http://localhost/Wallpapers/高雄愛河[CC-BY][Toomore-Chiang].jpg) no-repeat center center fixed;
                    background-size: cover;  }
main              { position: relative; display: flex; min-height: 60vh; width: 100%; margin: auto; padding: 20vh 0;
                    align-items: center; }
div.mainWrapper   { position: relative; display: block; text-align: center; font-size: 1.05em; margin: auto; width: 90%; z-index: 1; }

/*
 * General rules
 */

h1    { padding: .5em 0px;border-bottom: 1px solid #888; font-weight: normal; color: #C33; }
a     { color: #CCC; text-decoration: none; }

dl    { display: flex; flex-wrap: wrap; }
dt    { display: inline-block; flex: 2; width: 100%; padding: .5em 0; font-weight: bold; border-bottom: 1px solid #888; }
dd    { display: inline-block; flex: 1; min-width: 350px; border-bottom: 1px solid #888; }

input { display: inline-block; width: calc(100% - 18px); max-width: 32vw; margin:0px auto; padding: 1.5em .8em;
        font-family: Monospace, Courier; background: #FFF; color: #333; border: 0 solid #555; vertical-align: middle; }

div.mainWrapper > div        { display: flex; flex-wrap: wrap; }
div.mainWrapper > div > div  { flex: 1; margin: 1em 1em 0 1em; padding: 0; text-align:left; }
.toggledVisible              { display: block !important; }

iframe { width: 100%; height: 60vh; border: 0; box-sizing: border-box; }

/*
 * Aside: Shown as boxes to open by hovering over them
 */

aside               { display: block; position: absolute; left: 10vw; bottom: 0; z-index: 10; }
aside a             { display: block; padding: .5em .8em; background: rgba(0, 0, 0, .3); }
aside div           { display: none; }
aside:hover > a     { display: none; }
aside:hover > div   { display: block; z-index: 1000; }

aside > div > a                    { position: relative; display: block; min-width: 140px;
                                     margin: 0; padding: 1.2em .8em 1.2em 3em; list-style: none; }
aside > div > a > span:first-child { position: absolute; left: 1em; top: 50%; transform: translate(0, -50%);
                                     font-family: Monospace; font-size: 1.3em; background: rgba(0, 0, 0, .5); }
aside > div > a > span             { display: inline-block; padding: .3em; }
aside > div > a:hover              { background: rgba(0, 0, 0, .4); }

main > aside#aside-accounts        { left: calc(10vw + 8em); }

/*
 * Do not display links for Firefox
 */

#aside-firefox        { display: none; }

/*
 * Help section
 */

section#help { margin: 0 0; padding: 1em 0; background: #8E8238; color: #E4E4E4; }

/*
 * Last Section: Weekly schedule at university
 */

section#semesterSchedule  { background: #F29901; padding: 2em 0; }

table    { width: 100%; padding: 2em 3vw; background: #F29901; color: #E4E4E4; }
table a  { color: #FFF; }
table td { border-bottom: 1px solid #E4E4E4; }
table td { min-width: 10%; padding: 1em; }
table dt { width: 30px; }
table dd { min-width: calc(100% - 60px); padding: .5em 0; vertical-align: middle; }

/*
 * First page (these elements deal with main)
 */

span#loading          { display: none; }
span#loading:before   { content: "↻"; position: fixed; display: block; top: 0; left: calc(50% - 0.6em); height: 1.3em;
                        width: 1.3em; transform: translate(-80% , 0); z-index: 100; font-size: 8em; text-align: center;
                        animation: rotating 2s linear infinite; }

form:after            { content: " a "; display: inline-block; margin: 0; padding: .03em .2em;
                        font-size: 2.8em; background: #CD919B; color: #EEE; vertical-align: middle; }
form#hotkeybar:after  { content: "⌨"; }
form#searchbar:after  { content: "🍸";}
form#urlbar:after     { content: "🍷";}

div h2                            { margin: 0; padding: 1.2em .8em 1.2em 3em; background: #8E8238; color: #FFF;
                                    font-size: 1.05em; font-weight: normal; }
div > div > a                     { position: relative; display: block; margin: 0; padding: 1.2em .8em 1.2em 3em;
                                    list-style:none; min-width:140px; background: #EEE; color: #555; }
div > div > a > span:first-child  { position: absolute; left: 1em; top: 50%; transform: translate(0, -50%);
                                    font-family: Monospace; font-size: 1.3em; background: #555; color: #EEE; }
div > div > a > span              { display: inline-block; padding: .3em; }
div > div > a:nth-child(2n)       { background: #DDD; }
div > div > a.selectedLink,
div > div > a:hover               { animation: colorizeLinkFromList .4s; background: #8FBDBD; color: #FFF; }

/*
 * Offline screen
 */

html#offline:before               { display: none; }
html#offline                      { background: #CD919B; }
html#offline body                 { position: absolute; left: 50%; top: 55%; transform: translate(-50%, -50%);
                                    background: #CD919B; color: #FFF; font-size: 2.5em; }
html#offline body span            { position: relative; }
html#offline body span:before     { content: "\01F50C"; display: block;
                                    position: absolute; left: 50%; bottom: 110%; transform: translate(-50%, 0);
                                    font-size: 4em;  }

/*
 * Search
 */

div#search            { display: none; min-height: calc(100vh - 4em); padding: 2em 0;
                        background: #3C8282; color: #FFF; font-size: 1.05em; }
div#search h2         { background: initial; font-size: 2em; }
div#search a          { display: block; padding: .6em .5em; color: #FFF; text-align: left;
                        list-style: none; line-height: 1.5em; border-bottom: 1px solid #8FBDBD;
                        counter-increment: step-counter; }
div#search a:before   { content: counter(step-counter); display: inline-block; width: 1.8em; margin: 0 .5em 0 0;
                        background: #8FBDBD; color: #FFF; text-align: center;  }
div#search a:hover    { background: #8FBDBD; cursor: pointer; }
div#search a time     { float: right; color: #CCC; }

/*
 * Scrollbar
 */

body::-webkit-scrollbar       { width: .5em; border-left: 1px solid #EEE; background: #EEE; }
body::-webkit-scrollbar-thumb { background-color:  #4E4E4E; outline: 1px solid #4E4E4E; }

/*
 * Make it responsive.
 */

@media screen and (max-width:50em) {
    div.mainWrapper > div         { display: block; }
    div.mainWrapper > div > div   { flex: 1; display: block; margin: 1em 0; }
}

@media screen and (min-width:60em) {
    div.mainWrapper               { width: 70vw; }
    div#search ul                 { padding: 2em 20vw; }
}

/*
 * Animations
 */

@keyframes colorizeLinkFromList {
    from { background: #DDD;    color: #555; }
    to   { background: #8FBDBD; color: #FFF; }
}

@keyframes rotating {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
