
/* ##############
Outside elements
############## */

html          { height: 100%; width: 100%; margin:0px; padding:0px;
                background: #e2dccc; color: #555; font-family: Roboto, Courier; text-align: center; }
html:before   { content: " "; display: block; height: 100%; width: 100%;
                background:#744f22; filter: grayscale(0); opacity: 0.6; z-index: 1;
                background: url(/home/jrenslin/Sync/Images/Wallpapers/高雄愛河[CC-BY][Toomore-Chiang].jpg)
                               no-repeat center center fixed; background-size: cover;}
body          { margin: 0px; }
main          { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                text-align: center; font-size: 1.05em; width: 90%; z-index: 1; }

/* ##############
General rules
############## */

h1    { border-bottom: 1px solid #888; font-weight:normal;color:#c33;padding:0.5em 0px;}
a     { color: #ccc; text-decoration:none;}

dl    { display: flex; flex-wrap: wrap; }
dt    { display: inline-block; flex: 2; width: 100%; padding:0.5em 0px; font-weight: bold; border-bottom: 1px solid #888; }
dd    { display: inline-block; flex: 1; min-width: 350px; border-bottom: 1px solid #888; }

input { display: inline-block; width: calc(100% - 18px); max-width:32vw; margin:0px auto; padding:1.5em 0.8em;
        font-family: Monospace, Courier; background:#fff; color:#333; border:0px solid #555; vertical-align:middle; }

main > div        { display: flex; flex-wrap:wrap; }
main > div > div  { flex: 1; margin: 1em 1em 0px 1em; padding:0px; text-align:left; }

/* ##############
Aside: Shown as boxes to open by hovering over them
############## */

aside               { display: block; position:absolute; bottom:0px;left:10vw; z-index:10; }
aside a             { display: block; padding: 0.5em 0.8em; background: rgba(0,0,0,0.3); }
aside div           { display: none; }
aside:hover > a     { display: none; }
aside:hover > div   { display: block; z-index: 1000; }

aside > div > a                    { position: relative; display: block; min-width: 140px;
                                     margin: 0px; padding: 1.2em 0.8em 1.2em 3em; list-style: none; }
aside > div > a > span:first-child { position: absolute;left: 1em; top:50%; transform: translate(0, -50%);
                                     font-family: Monospace; font-size: 1.3em; background: rgba(0,0,0,0.5); }
aside > div > a > span             { display: inline-block; padding: 0.3em; }
aside > div > a:hover              { background: rgba(0,0,0,0.4); }

/* ##############
Help section
############## */

section.help { margin: 0px 0px; padding: 1em 0px; background: #8E8238; color: #e4e4e4; }

/* ##############
Last Section: Weekly schedule at university
############## */

section.help + section { background: #F29901; padding: 2em 0px; }

table    { width:100%; padding:2em 3vw; background: #F29901; color: #e4e4e4; }
table a  { color: #fff; }
table td {border-bottom:1px solid #e4e4e4;}
table td {min-width:10%;padding:1em;}
table dt {width:30px;}
table dd {min-width:calc(100% - 60px);vertical-align:middle;padding:0.5em 0px;}

/* ##############
First page (these elements deal with main)
############## */

span#loading:before   { content: "↻"; position:fixed; display:block; top: -20vh; left: calc(50% - 0.6em); height: 1.3em;
                        width: 1.3em; transform: translate(-80% , 0); z-index: 100; font-size: 8em; text-align: center;
                        animation: rotating 2s linear infinite; }

form:after            { content: " a "; display:inline-block; padding: 0.03em 0.2em; margin:0px;
                        font-size:2.8em; background:#CD919B; color:#eee; vertical-align:middle; }
form#hotkeybar:after  { content: "⌨"; }
form#searchbar:after  { content: "🍸";}
form#urlbar:after     { content: "🍷";}

div h2                            { padding: 1.2em 0.8em 1.2em 3em; background: #8E8238; margin: 0px; font-size: 1.05em; font-weight:normal; color:#fff; }
div > div > a                     { position:relative; display: block; margin:0px; padding: 1.2em 0.8em 1.2em 3em;
                                    list-style:none; min-width:140px; background: #eee; color: #555; }
div > div > a > span:first-child  { position: absolute;left: 1em; top:50%; transform: translate(0, -50%);
                                    font-family: Monospace; font-size:1.3em; background:#555; color:#eee; }
div > div > a > span              { display: inline-block; padding:0.3em; }
div > div > a:nth-child(2n)       { background: #ddd; }
div > div > a.selectedLink,
div > div > a:hover               { animation: colorizeLinkFromList 0.4s; background: #8FBDBD; color: #fff; }

/* ##############
Offline screen
############## */
html#offline:before           { display: none; }
html#offline                  { background: #CD919B; }
html#offline body             { position: absolute; left: 50%; top: 55%; transform: translate(-50%, -50%);
                                background: #CD919B; color: #fff; font-size: 2.5em; }
html#offline body span        { position: relative; }
html#offline body span:before { content: "\01F50C"; display: block;
                                position: absolute; left: 50%; bottom: 110%; transform: translate(-50%, 0px);
                                Font-size: 4em;  }

/* ##############
Make it responsive.
############## */

@media screen and (max-width:50em) {
	main > div       { display: block; }
	main > div > div { flex: 1; display: block; margin: 1em 0px; }
}

@media screen and (min-width:60em) {
    main { width: 70vw; }
}

/* ##############
Animations
############## */

@keyframes colorizeLinkFromList {
    from { background: #ddd;    color: #555; }
    to   { background: #8FBDBD; color: #fff; }
}

@keyframes rotating {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
