
/* ##############
Outside elements
############## */

html              { min-height:100%; width:100%; margin: 0px; padding:0px; color:#555;
                    font-family: Roboto, Courier; text-align:center; }
body              { margin: 0px; }
main:before       { content: " "; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;
                    filter: grayscale(0); opacity: 0.8; z-index: 1; filter: grayscale(0);
                    background: url(/home/jrenslin/Sync/Images/Wallpapers/desktop_light/small_steps.png) repeat center
                                   center fixed; }
main              { position: relative; display: flex; min-height: 60vh; width: 100%; padding: 20vh 0px; margin: auto;
                    align-items:center; }
div.mainWrapper   { display: block; text-align: center; font-size: 1.05em; margin: auto; width: 90%; z-index: 1; }

/* ##############
General rules
############## */

h1      { border-bottom:1px solid #888; font-weight: normal; color: #c33; padding: 0.5em 0px; }
a       { color: #ccc; text-decoration: none; }

dl      { display: flex; flex-wrap: wrap; }
dt      { display: inline-block; flex: 2; width: 100%; padding: 0.5em 0px;
          font-weight: bold; border-bottom: 1px solid #888; }
dd      { display: inline-block; flex: 1; min-width: 350px; border-bottom: 1px solid #888; }

input   { display: inline-block; width: calc(100% - 18px); max-width:32vw; margin: 0px auto; padding: 1.5em 0.8em;
          background: #fff; color:#333; font-family: Monospace, Courier;
          vertical-align: middle; border: 0px; }

div.mainWrapper > div       { display: flex; flex-wrap: wrap; }
div.mainWrapper > div > div { flex: 1; margin: 1em 1em 0px 1em; padding:0px; text-align:left;  }
.toggledVisible              { display: block !important; }

aside               { position: absolute; display: block; left:10vw; bottom:0px; z-index:10; }
aside a             { display: block; padding: 0.5em 0.8em; background: rgba(0,0,0,0.3); }
aside div           { display: none; }
aside:hover > a     { display: none; }
aside:hover > div   { display: block; z-index: 1000; }

aside > div > a                     { position:relative; display: block; min-width:140px;
                                      margin:0px; padding: 1.2em 0.8em 1.2em 3em; list-style: none; }
aside > div > a > span:first-child  { position:absolute; left: 1em; top: 50%; transform: translate(0, -50%);
                                      font-family: Monospace; background: rgba(0,0,0,0.5); font-size: 1.3em; }
aside > div > a > span              { display: inline-block; padding: 0.3em; }
aside > div > a:hover               { background: rgba(0,0,0,0.4); }

main > aside#aside-accounts        { left: calc(10vw + 8em); }

/* ##############
Do not display links for Firefox
############## */

#aside-firefox        { display: none; }

table    { width: 94%; padding: 2em 3vw; }
table td { border-bottom: 1px solid #222; }
table td { min-width: 10%; padding: 1em; }
table dt { width: 30px; }
table dd { min-width: calc(100% - 60px); vertical-align: middle; padding:0.5em 0px; }

/* ##############
First page (these elements deal with main)
############## */

span#loading:before    { display:block; position:fixed; top:-20vh; left:calc(50% - 0.6em); transform: translate(-80% , 0);
                         width: 1.3em; height: 1.3em; z-index:100; content: "↻";
                         font-size:8em; animation: rotating 2s linear infinite; text-align:center;  }

form:after             { content: " a "; display:inline-block; margin: 0px; padding: 0.03em 0.2em;
                         font-size: 2.8em; background: #323232; color: #eee; vertical-align: middle; }
form#hotkeybar:after   { content: "⌨"; }
form#searchbar:after   { content: "🍸"; }
form#urlbar:after      { content: "🍷"; }

div h2                             { margin: 0px; padding: 1.2em 0.8em 1.2em 3em; background: #323232; color:#fff;
                                     font-size: 1.05em; font-weight: normal; }
div > div > a                      { position:relative; display: block; min-width: 140px; margin: 0px;
                                     padding: 1.2em 0.8em 1.2em 3em; list-style: none; background:#eee; color: #555; }
div > div > a > span:first-child   { position:absolute;left: 1em; top:50%; transform: translate(0, -50%);
                                     background: #555; color:#eee; font-family: Monospace; font-size: 1.3em; }
div > div > a > span               { display: inline-block; padding: 0.3em; }
div > div > a:nth-child(2n)        { background: #ddd; }
div > div > a.selectedLink,
div > div > a:hover               { animation: colorizeLinkFromList 0.4s; background: #323232; color: #fff; }

/* ##############
Offline screen
############## */
html#offline:before               { display: none; }
html#offline body                 { position: absolute; left: 50%; top: 55%; transform: translate(-50%, -50%);
                                    background: #CD919B; color: #fff; font-size: 2.5em; }
html#offline body span            { position: relative; }
html#offline body span:before     { content: "\01F50C"; display: block;
                                    position: absolute; left: 50%; bottom: 110%; transform: translate(-50%, 0px);
                                    font-size: 4em;  }

/* ##############
Search
############## */

div#search            { display: block; min-height: calc(100vh - 4em); padding: 2em 0px;
                        background: #3C8282; color: #fff; font-size: 1.05em; }
div#search h2         { background: initial; font-size: 2em; }
div#search a          { display: block; padding: 0.6em 0.5em; color: #fff; text-align: left;
                        list-style: none; line-height: 1.5em; border-bottom: 1px solid #8FBDBD;
                        counter-increment: step-counter; }
div#search a:before   { content: counter(step-counter); display: inline-block; width: 1.8em; margin: 0px 0.5em 0px 0px;
                        background: #8FBDBD; color: #fff; text-align: center;  }
div#search a:hover    { background: #8FBDBD; cursor: pointer; }
div#search a time     { float: right; color: #ccc; }

/* ##############
Scrollbar
############## */

body::-webkit-scrollbar {
    width: 0.5em; border-left: 1px solid #eee; background: #eee;
}
body::-webkit-scrollbar-thumb {
    background-color:  #4E4E4E;
    outline: 1px solid #4E4E4E;
}

/* ##############
Make it responsive.
############## */

@media screen and (max-width:50em) {
	  div.mainWrapper > div         { display: block; }
	  div.mainWrapper > div > div   { flex: 1; display: block; margin: 1em 0px; }
}

@media screen and (min-width:60em) {
      div.mainWrapper              { width: 70vw; }
      div#search ul                { padding: 2em 20vw; }
}

/* ##############
Animations
############## */

@keyframes colorizeLinkFromList {
    from { background: #ddd; color: #555; }
    to   { background: #555; color: #fff; }
}

@keyframes rotating {
    from { transform: rotate(0deg);   }
    to   { transform: rotate(360deg); }
}
